body {
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:1200px, 800px;
    background-position:left;
    width: 1200px;
    height: 800px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

#content {
    height: 800px;
    width: 1200px;
}


  .grid-container {
    height: 100%;
    width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". TEXT-AREA TEXT-AREA TEXT-AREA TEXT-AREA TEXT-AREA TEXT-AREA TEXT-AREA TEXT-AREA .";
}

.white-board-title {
    padding: 0 2vw;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 70px;
    text-align: center;
    }
.white-board-notes{
    font-family: "Comic Sans MS", cursive, sans-serif
}
.TEXT-AREA { grid-area: TEXT-AREA; }


.grid-container div img{
    max-width: 100px;
    max-height: 100px;
}

.TEXT-AREA { grid-area: TEXT-AREA; }

#help-button{
    background-image: url('../frontend/images/helpbutton.jpg');
    background-size: contain;
    background-repeat:no-repeat;
}

#knight-button{
    background-image: url('../frontend/images/knighticon.png');
    background-size: contain;
    background-repeat:no-repeat;
}

.text-area{
    background-color: coral;
    border: double;
}

/* chessboard css styling */
.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #7a4b19;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: rgb(148, 145, 145);
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: lightgray;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}



.lightUp {
    background-color: lightgreen;
    box-shadow:0px 0px 0px 1px black inset;
}
.hidden {
    display: none;
}

.breakout {
    margin-bottom: -80px;
    margin-right: -80px;
    width: 160px;
    height: 160px;
}

.speech-bubble {
	position: relative;
	background: #35b8bb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 43px solid transparent;
	border-top-color: #35b8bb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -21.5px;
    margin-bottom: -43px;
    
}


.riddle-button {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
    width: 150px;
}

.riddle-button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

#note-form{
    margin-left: 50px;
}

#messages-div {
    height: 450px;
    margin-left: 50px;
    overflow-y: scroll;
}

    input {
        width: 300px;
        border: 5px solid white; 
        -webkit-box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        -moz-box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        padding: 15px;
        background: rgba(255,255,255,0.5);
        margin: 0 0 10px 0;
    }

    .blinking{
        animation:blinkingText 1s infinite;
        
    }
    @keyframes blinkingText{
        0%{     color: rgb(143, 38, 38);    }
        49%{    color: transparent; }
        50%{    color: transparent; }
        100%{   color: rgb(201, 20, 20);    }
    }

    .middle {
        left: 100;
        line-height: 200px;
        margin: auto;
        margin-top: -100px;
        position: absolute;
        top: 50%;
        width: 500%;
    }

    .center-letter-paper {
        position: fixed;
        width: 200px;
        height: 200px;
        top: 50%;
        left: 50%;
        margin-top: -100px; 
        margin-left: -100px;
      }

      .center-letter {
        position: fixed;
        width: 200px;
        height: 200px;
        top: 62%;
        left: 57%;
        margin-top: -100px; 
        margin-left: -100px;
      }

      .clickable { 
        cursor: pointer;
      }



  #d-container {
 background-color: rgb(212, 221, 169);
  } 

  #j-container {
    width: 100%;
    height: 800px;
   \
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
  }
  #d-item {

    touch-action: none;
    user-select: none;
  }
  #d-item:active {

  }
  #d-item:hover {
    cursor: pointer;
    border-width: 50px;
  }
  #j-item {
    touch-action: none;
    user-select: none;
    z-index: 1;
  }
  #j-item:active {
    background-color: rgb(252, 0, 252);
  }
  #j-item:hover {
    cursor: pointer;
    border-width: 50px;
  }

  #jk-item {

    touch-action: none;
    user-select: none;
  }
  #jk-item:active {
    background-color: rgb(252, 0, 252);
  }
  #jk-item:hover {
    cursor: pointer;
    border-width: 50px;
  }



  .top {
    left: 100;
    line-height: 200px;
    margin: auto;
    
    position: absolute;
    top: 10%;
    width: 500%;
}
